@import "./normalize.scss";
@import "./variables.scss";


html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;

    .nav__wrapper {
        max-width: 1312px;
        width: 100%;
        margin: 32px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $desktop) {
            flex-direction: column;
            overflow: hidden;
        }

        &.open {
            .nav__list {
                @media (max-width: $desktop) {
                    padding: 0 0 55px 0;
                }
            }
        }


        .nav__logo {
            width: 192px;
            height: 68.37px;
            margin: 0 auto 0 60px;


            @media (max-width: $tablet) {
                margin: 0 auto 0 20px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav__list {
            margin: 0 10px 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;


            @media (max-width: $desktop) {
                width: 100%;
                flex-direction: column;
                padding: 58px 0;
                font-size: 23px;
                padding: 0;
                transition: 1s ease-out;
                max-height: 0;
            }

            .nav__item {
                margin: 0 16px;
                list-style-type: none;
                font-size: 18px;
                font-weight: $font-weight-medium;

                @media (max-width: $desktop) {
                    margin-bottom: 29px;
                }

                a {
                    text-decoration: none;
                    color: $gray;

                    &:hover {
                        color: $brown;
                    }
                }
            }
        }

        .nav__language-select-wrapper {
            cursor: pointer;
            position: relative;

            .language-option {
                display: flex;
                align-items: center;
                margin: 15px 0;
                background-color: $white;

                img {
                    margin-left: 15px;
                    height: 16px;
                    pointer-events: none;
                }

                span {
                    width: 10px;
                    margin: 0 10px 0 0;
                    font-weight: 600;
                    font-size: 15px;
                    pointer-events: none;
                }
            }

            .nav__language-select-selected-option {
                display: flex;
                flex-flow: row;
                gap: 10px;
                align-items: center;
                border: 1px solid $light-gray;
                border-radius: 10px;
                padding: 0 10px;

                p {
                    margin: 10px;
                }

                img:nth-child(3) {
                    height: 8px;
                }
            }

            .nav__language-select-options {
                position: absolute;
                display: none;
                padding: 10px 40px 10px 22px;
                border: 1px solid $light-gray;
                border-radius: 10px;
                background-color: $white;
                margin-top: 8px;


                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent $light-gray transparent;
                    top: -20px;
                    left: 20px;
                }

                p {
                    margin: 0;
                }
            }

            &:hover {
                .nav__language-select-options {
                    display: block;
                }
            }
        }


        .nav__hamburger {
            position: absolute;
            right: 37px;
            top: 57px;
            transition: .5s ease-in-out;
            cursor: pointer;
            transform: rotate(0);

            .line {
                position: absolute;
                width: 18px;
                height: 2px;
                background: $gray;
                box-shadow: 0 2px 5px rgba(60, 63, 64, 0.2);

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 18px;
                    height: 2px;
                    background: $gray;
                    box-shadow: 0 2px 5px rgba(60, 63, 64, 0.2);
                    transition: 0.5s;
                }

                &:before {
                    top: -6px;
                }

                &::after {
                    top: 6px;
                }
            }



            @media (max-width: $desktop) {
                display: block;
            }

            @media (min-width: $desktop) {
                display: none;
            }
        }

        .is-active {
            .line {
                background: rgba(0, 0, 0, 0);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0);

                &::before {
                    top: 0;
                    transform: rotate(135deg);
                    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
                }

                &::after {
                    top: 0;
                    transform: rotate(225deg);
                    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .open {
        .nav__list {
            max-height: 500px;
            height: 100%;
        }
    }

    .closed {
        .nav__list {
            @media (max-width: $desktop) {
                visibility: hidden;
            }
        }
    }
}

.photos__wrapper {
    display: flex;
    flex-wrap: wrap;

    .photo__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 480px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            img {
                transform: scale(110%);
                opacity: .8;
            }
        }

        img {
            min-height: 100%;
            min-width: 100%;
            transition: .3s;
        }
    }

    .photo-6,
    .photo-7,
    .photo-8,
    .photo-9,
    .photo-10 {
        @media (max-width: $mobile) {
            display: none;
        }
    }

    .photo-3,
    .photo-9,
    .photo-8,
    .photo-10 {
        @media (min-width: $mobile) and (max-width: $desktop) {
            display: none;
        }
    }
}


.services__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .services__title {
        font-size: 60px;
        font-weight: $font-weight-bold;
        text-align: center;
        color: $gray;
    }


    .services__icons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;


        .services__icon-wrapper {
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 192px;

            .services__icon-wrapper-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 192px;
                height: 192px;
                border-radius: 25px;
            }

            .services__icon-wrapper--dark {
                background: $services-dark;
            }

            .services__icon-wrapper--light {
                background: $services-light;
            }
        }


    }
}

.contact__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(245, 245, 241, 1) 0%, rgba(216, 217, 204, 1) 90%);
    padding: 30px 0 70px 0;

    .contact__title {
        font-size: 60px;
        font-weight: $font-weight-bold;
        color: $gray;
        text-align: center;
    }

    .contact__wrapper-inner {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: $white;
        border-radius: 10px;
        padding: 30px;

        .contact__column {
            padding: 20px;
        }

        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .contact__field {
            width: 100%;

            input[type="text"],
            select,
            textarea {
                width: 100%;
                border: #DFCEC5 1px solid;
                border-radius: 10px;
                height: 40px;
                padding: 0 10px;
                margin: 10px 0;
            }

            input[type="radio"] {
                border: 2px solid red;
                background-color: green;
                border-radius: 50%;
            }

            label {
                width: 100%;
            }

            input::placeholder {
                color: $gray;
                font-weight: $font-weight-normal;
            }

            textarea {
                min-height: 150px;
                padding: 10px;
            }
        }



        .contact__column:nth-child(3) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            #checkbox {
                width: 100%;
                text-align: center;

                input {
                    margin-right: 10px;
                }
            }

            button {
                margin-top: 30px;
                background-color: $brown;
                color: $white;
                padding: 7px 20px;
                border-radius: 5px;
                border: none;
                font-weight: $font-weight-medium;
            }
        }

    }
}


.newsletter__wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .newsletter__title {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: $font-weight-bold;
    }

    .newsletter__button {
        display: box;
        font-size: 18px;
        font-weight: $font-weight-bold;
        border-radius: 5px;
        border: 2px solid $gray;
        text-decoration: none;
        color: $gray;
        padding: 7px 30px;
    }
}

footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $light-gray;
    flex-wrap: wrap;

    .footer__logo {
        margin: 20px 10px;
    }

    .social {
        margin: 0 10px;
        text-decoration: none;
        width: 20px;

        img {
            filter: invert(22%) sepia(10%) saturate(188%) hue-rotate(149deg) brightness(96%) contrast(89%)
        }

        &:hover {
            img {
                filter: invert(22%) sepia(10%) saturate(188%) hue-rotate(149deg) brightness(96%) contrast(0%)
            }
        }
    }
}